{
    "plugins": [
        "prettier",
        "only-error"
    ],
    "extends": [
        "eslint:recommended",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": "warn"
    },
    "env": {
        "node": true
    }
}
